
/* General requirements for the homepage */
:root {
  :root {
      --main-bg-color: #3498db;
      --text-color: #ffffff;
      --font-size: 16px;
    }
    
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;  
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  
}

