
/* General requirements for the homepage */
:root {
  :root {
      --main-bg-color: #3498db;
      --text-color: #ffffff;
      /*--font-size: 16px; */
    }
    
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;  
  background-color: #FFFFFF;
  
}




/* Checking of the header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
    
}

.link {
  text-decoration: none;
}

.link:hover{
  color: #404bbf;
}

.link:focus{
  color: #404bbf;
}


/* Logo */
.headerlogo{
  text-decoration: none;
  color: #2e2f42;

}




/* List* - still with error  */


ul li {
  list-style: none;
}

[class^="first-item"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

[class^="listheader"]:hover{
  color: #404bbf;
}

[class^="listheader"]:focus{
  color: #404bbf;
}





/* Address [ok] */
address{
  font-style: normal;
}

[class^=list]{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}







/* Checking of the First Section */

.fsection{
  background-color: #2e2f42 ;
  list-style: none;
}

.fheader{
  font-size:  56px; ;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.fbutton{
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.fbutton:hover, .fbutton:focus{
  background-color: #404BBF;
}





/* Checking of the second Section */

.second{
  list-style: none;
}

.secondheader{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

}

.two-header{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

h3, [class="listclass"]{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}





/* Checking of the Third Section */

.thirdsec{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

}





/* Checking of the Fourth Section */

.fosection{
  background-color: #f4f4fd;

}

.foheader{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

}

.folink{
  background-color: #FFFFFF;

}



/* Checking of the footer */

.pagefooter{
  background-color: #2e2f42;

}

.flogo{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;

}

.fstudio{
  color: #f4f4fd;

}

.fparagraph{
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}