
/* General requirements for the homepage */
:root {
    :root {
        --main-bg-color: #3498db;
        --text-color: #ffffff;
        --font-size: 16px;
      }
      
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: #434455;  
    background-color: #fff;
    margin: 0;
    padding: 0;
    
  }
  

  /* Checking of the header */

  .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* The logo contains an additional default 'link' class */
    text-decoration: none;
    
  }

/* Logo */
  .headerlogo{
    text-decoration: none;
    color: #2e2f42;

  }

/* <nav> */
.default-list{
  list-style: none;
}


/*List*/
.listheader{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* In the first item of the list, the link has an additional default link class */
  text-decoration: none;
}

.listheader:hover{
  color: #404bbf;

}

.listheader:focus{
  color: #404bbf;

}

.headclass{
  font-style: normal;

}

  
.filter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px;
}
  
.studio {
  color: #2e2f42;

}
  

  
.head_address{
  font-style: normal;

}

.list_contact {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  
}
  
.list_contact:hover, .list_contact:focus{
  color: #404bbf;
}
  
  



  
/* Checking of the First Section */

.fsection{
  background-color: #2e2f42 ;

}

.fheader{
  font-size:  56px; ;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.fbutton{
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.fbutton:hover, .fbutton:focus{
  background-color: #404BBF;
}


/* Checking of the second Section */

.two-header{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

}

.two-header{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}





/* Checking of the footer */

.pagefooter{
  background-color: #2e2f42;

}

.flogo{
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* The logo contains an additional default 'link' class  */
  text-decoration: none;

}

.fstudio{
  color: #f4f4fd;

}

.fparagraph{
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}